ada-boost==0.0.1
anaconda-client
analytics-python==1.4.0
appdirs==1.4.4
argh==0.26.2
atomicwrites==1.4.0
backoff==1.10.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
catboost==1.0.3
certifi==2020.12.5
charset-normalizer==2.0.12
clyent
comtypes==1.1.9
conda
conda-build
contextlib2==0.6.0.post1
cycler==0.10.0
cytoolz==0.11.0
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
ffmpy==0.3.0
Flask
Flask-CacheBuster==1.0.0
Flask-Cors==3.0.10
Flask-Login==0.5.0
future==0.18.2
gradio==2.4.6
graphviz==0.18
gunicorn==20.1.0
h5py==2.10.0
HeapDict==1.0.1
jdcal==1.4.1
json5==0.9.5
jupyter==1.0.0
lightgbm==3.3.2
llvmlite==0.36.0
locket==0.2.1
markdown2==2.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-service
monotonic==1.6
mpmath==1.2.1
multipledispatch==0.6.0
mypy-extensions==0.4.3
oauthlib==3.2.0
olefile==0.46
parso==0.7.0
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
pipreqs==0.4.11
pkginfo==1.7.0
plotly==5.3.1
ply==3.11
pycosat==0.6.3
pycryptodome==3.11.0
pyodbc
pyreadline==2.1
pytest==6.2.3
pytorch-tabnet==3.1.1
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
requests==2.27.1
requests-oauthlib==1.3.1
scikit-image==0.18.1
simplegeneric==0.8.1
sip
statsmodels==0.12.2
tables==3.6.1
tenacity==8.0.1
terminado==0.9.4
textblob==0.17.1
tweepy==4.8.0
unicodecsv==0.14.1
webencodings==0.5.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
xgboost==1.5.2
xlwt==1.3.0
xmltodict==0.12.0
yarg==0.1.9
zict==2.0.0
zope.event==4.5.0